body {
  background-color: lightblue;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  text-align: center;
  font-size: 50px;
  text-decoration: solid underline yellow 5px;
}

h2 {
  font-size: 36px;
}

nav {
  background-color: black;
}

ul {
  list-style: none;
  font-size: 26px;
  margin: 0;
}

ul li a {
  color: yellow;
  margin: 15px 0;
  text-decoration: none;
}

.container {
  background-color: rgb(70, 70, 70);
  color: white;
  border: 3px solid gray;
  border-radius: 5px;
  width: 600px;
  margin: 0 auto;
  text-align: center;
}

.ingredients {
  font-size: 16px;
  list-style: circle;
}